.profile-cards {
  display: flex;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .card2 {
    width: 350px;
    height: 420px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    gap: 20px;
    padding: 20px;

    .selectFile {
      display: none;
    }

    input {
      width: 300px;
      height: 30px;
      padding: 10px;
    }

    .textes {
      display: flex;
      flex-direction: column;

      strong {
        font-size: 32px;
        color: #3366f0;
        font-weight: 700;
        text-align: center;
      }

    }

    .savebtn {
      width: 300px;
      text-transform: none;
      background: #3366f0;
      color: #fff;
      border-radius: 10px;
      padding: 10px;
      cursor: pointer;
    }
  }

  .card3 {
    width: 350px;
    height: 420px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    gap: 20px;
    padding: 20px;

    .input-contanier {
      position: relative;

      input {
        padding-right: 20px;
      }

      .eye-icon {
        position: absolute;
        top: 50%;
        right: 5px;
        cursor: pointer;
        transform: translateY(-50%);
      }
    }

    .selectFile {
      display: none;
    }

    input {
      width: 300px;
      height: 30px;
      padding: 10px;
    }

    .textes {
      display: flex;
      flex-direction: column;

      strong {
        font-size: 32px;
        color: #3366f0;
        font-weight: 700;
        text-align: center;
      }

    }

    .savebtn {
      width: 300px;
      text-transform: none;
      background: #3366f0;
      color: #fff;
      border-radius: 10px;
      padding: 10px;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 600px) {
  .profile-cards {
    display: flex;
    flex-direction: column;
  }
}