.more-btn {
   &:hover {
      color: #3366f0;
   }
}

button {
   color: #000;
   background: #fff;
   border-radius: 10px;
   padding: 8px;
   width: 120px;
   margin-right: 10px;
   z-index: 1;
   border: 0;
   cursor: pointer;
}